<header
  class="pt-2 md:pt-6 px-2 lg:px-8 flex lg:justify-between md:justify-evenly md:gap-0 gap-8 items-center"
>
  <div class="flex items-center">
    <h1
      class="font-medium text-xl md:text-2xl lg:text-3xl mr-4 md:mr-12 lg:mr-24"
    >
      Dashboard
    </h1>
    <div
      class="search w-50 md:w-60 lg:w-80 h-10 md:h-14 bg-[#f4f6fa] flex items-center gap-1 px-1 lg:gap-3 lg:px-3"
    >
      <img src="../../../assets/images/search-icon.png" alt="search-icon" />
      <input
        class="bg-inherit h-full w-full focus:outline-none"
        type="text"
        placeholder="Search here..."
      />
    </div>
    <button
      class="md:w-14 w-10 md:h-14 h-10 grid place-content-center ml-2 md:ml-5 border border-dashed"
    >
      <span class="text-light-gray text-lg">+</span>
    </button>
  </div>

  <div class="flex items-center gap-2 md:gap-6 lg:gap-12">
    <figure class="relative cursor-pointer">
      <img
        src="../../../assets/images/notification.png"
        alt="notification icon"
      />
      <img
        class="absolute top-0 right-[2px]"
        src="../../../assets/images/Ellipse-red.png"
        alt=""
      />
    </figure>
    <figure class="cursor-pointer">
      <img src="../../../assets/images/settings.png" alt="settings icon" />
    </figure>
  </div>
</header>
