<!-- Task Stats -->
<div class="mt-14 flex md:justify-between gap-2 md:gap-5">
  <div class="flex items-center gap-2">
    <div class="relative w-fit">
      <img
        src="../../../assets/images/arrow-svgrepo-com.svg"
        alt=""
        class="arrow"
      />
      <div class="stat-curve stat-curve--1"></div>
    </div>

    <div>
      <p class="text-xs font-normal">Tasks Remaining</p>
      <p class="text-sm text-half-black">12/15</p>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <div class="relative w-fit">
      <img
        src="../../../assets/images/arrow-svgrepo-com.svg"
        alt=""
        class="arrow flip"
      />
      <div class="stat-curve stat-curve--2"></div>
    </div>

    <div class="w-full">
      <p class="text-xs font-normal">Tasks Left</p>
      <p class="text-sm text-half-black">12/15</p>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <div class="relative w-fit">
      <img
        src="../../../assets/images/arrow-svgrepo-com.svg"
        alt=""
        class="arrow"
      />
      <div class="stat-curve stat-curve--3"></div>
    </div>

    <div>
      <p class="text-xs font-normal">Tasks Done</p>
      <p class="text-sm text-half-black">12/15</p>
    </div>
  </div>
</div>

<!-- Progress Stats -->
<div class="pt-14">
  <div class="flex justify-between">
    <h3 class="font-medium text-2xl">Progress Stats</h3>
    <div class="flex justify-between gap-7 text-sm font-medium text-half-black">
      <p>day</p>
      <p>week</p>
      <p class="text-black">month</p>
    </div>
  </div>

  <!-- Bar Chart -->
  <div class="flex items-end justify-between py-10 md:p-[26px] h-fit">
    <!-- <div class="flex flex-col" *ngFor="let stats of progress_stats">
      <div
        [ngClass]="{
          'bg-gradient-to-t from-[#DD95FF] to-[#8287FD]': stats.month === 'Sep'
        }"
        class="h-[{{
          stats.progress
        }}px] w-8 mb-[10px] bg-[#F4F6FA] rounded-t-md"
      ></div>
      <span class="text-xs text-half-black grid place-content-center">{{
        stats.month
      }}</span>
    </div> -->

    <div class="flex flex-col">
      <div class="h-[152px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Jan</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[123px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Feb</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[75px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Mar</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[143px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Apr</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[184px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">May</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[143px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Jun</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[100px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Jul</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[120px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Aug</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[168px] bg-gradient-to-t from-[#DD95FF] to-[#8287FD]"></div>
      <span class="text-xs text-half-black grid place-content-center">Sep</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[120px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Oct</span>
    </div>
    <div class="flex flex-col">
      <div class="h-[145px] bg-[#F4F6FA]"></div>
      <span class="text-xs text-half-black grid place-content-center">Nov</span>
    </div>
  </div>
</div>
