<div class="w-full h-[177px] px-9 py-5 bg-almost-white">
  <h3 class="text-sm font-medium mb-3 text-half-black">Project Manager</h3>
  <div class="flex justify-between items-center mb-6 relative">
    <p class="font-medium text-2xl">Client Meeting</p>
    <button class="text-sm font-medium text-light-gray absolute -top-4 right-0">
      + NEW
    </button>
  </div>
  <div
    class="h-[54px] bg-[#edeff3] flex items-center justify-start gap-9 p-1 rounded-3xl"
  >
    <button class="bg-white w-20 h-full rounded-3xl grid place-content-center">
      <img src="../../../assets/images/call.png" alt="call icon" />
    </button>
    <p class="font-medium text-sm text-half-black">Swipe To Call</p>
  </div>
</div>
