<div class="w-full h-96 bg-almost-white px-0 lg:px-12 py-5">
  <div
    class="w-full flex justify-between h-8 items-center text-xs text-light-gray"
  >
    <button class="h-full w-8 rounded-full shadow-lg bg-white text-lg">
      &lt;
    </button>
    <p>December</p>
    <p class="text-black font-medium">January</p>
    <p>February</p>
    <button class="h-full w-8 rounded-full shadow-lg bg-white text-lg">
      &gt;
    </button>
  </div>

  <div class="w-full text-sm mt-6">
    <div class="grid grid-cols-7 place-items-center font-bold mb-6 gap-6">
      <span *ngFor="let day of days" class="">{{ day }}</span>
    </div>
    <div
      class="calendar grid grid-cols-7 place-items-center lg:gap-4 gap-x-1 gap-y-2 text-sm"
    >
      <span class="text-black opacity-20">26</span>
      <span class="text-black opacity-20">27</span>
      <span class="text-black opacity-20">28</span>
      <span class="text-black opacity-20">29</span
      ><span class="text-black opacity-20">30</span
      ><span class="text-black opacity-20">31</span>
      <span
        class="text-ha-blue"
        *ngFor="let no of daysInMonth; index as i"
        [ngClass]="{
          orange_gradient: no === 7,
          purple_gradient: no === 28,
          selected: no === 17,
          selected2: no === 18
        }"
        >{{ no }}</span
      >
      <span class="text-black opacity-20">1</span
      ><span class="text-black opacity-20">2</span
      ><span class="text-black opacity-20">3</span
      ><span class="text-black opacity-20">4</span
      ><span class="text-black opacity-20">5</span
      ><span class="text-black opacity-20">6</span>
    </div>
  </div>
</div>
