<section
  aria-label="sidebar"
  class="py-6 pl-8 h-full flex flex-col items-center bg-[#F8F8F8] gap-10 text-tiny text-light-gray"
>
  <header class="w-full flex flex-col justify-center items-center gap-3">
    <figure>
      <img src="../../../assets/images/avatar.svg" alt="avatar" />
    </figure>
    <div class="person w-full grid place-content-center text-center gap-1">
      <p class="font-medium text-black">Prabhatsinh Rathod</p>
      <p class="text-[rgba(0, 0, 0, 0.5)]">UI UX Designer</p>
    </div>

    <a
      href="#"
      id="cta"
      class="w-full flex justify-center gap-3 items-center bg-ha-blue rounded h-[36px] mt-3 text-white"
      ><img src="../../../assets/images/dash.png" alt="dashboard-image" />Become
      a Pro</a
    >
  </header>

  <nav class="w-full flex flex-col items-center gap-6 pl-2">
    <div class="list_style">
      <img src="../../../assets/images/dash-bl.svg" alt="" />
      <p>Dashboard</p>
    </div>
    <ul class="w-full flex flex-col items-center gap-6">
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/menu1.png" alt="" /> Menu 1</a
        >
      </li>
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/menu2.png" alt="" /> Menu 2</a
        >
      </li>
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/menu4.png" alt="" /> Menu 3</a
        >
      </li>
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/dash-bl.svg" alt="" /> Menu 4</a
        >
      </li>
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/menu1.png" alt="" /> Menu 5</a
        >
      </li>
      <li class="w-full">
        <a href="#" class="list_style">
          <img src="../../../assets/images/menu1.png" alt="" /> Menu 6</a
        >
      </li>
    </ul>
  </nav>

  <div
    id="storage"
    class="rounded-xl shadow-lg w-full bg-white gap-3 p-3 flex flex-col items-center"
  >
    <figure class="w-3/5">
      <img src="../../../assets/images/storage.png" alt="storage diagram" />
    </figure>
    <p class="font-medium text-black">Buy More Storage</p>
    <a
      href="#"
      class="w-3/5 h-7 grid place-items-center text-white bg-ha-blue rounded"
      >Buy Now</a
    >
  </div>
  <ul class="w-full">
    <li class="w-full">
      <a href="#" class="list_style">
        <img src="../../../assets/images/menu1.png" alt="" /> Menu 7</a
      >
    </li>
  </ul>
</section>
