<div>
  <div class="flex md:justify-between justify-evenly items-center mb-3">
    <h2 class="text-lg sm:text-2xl font-normal w-fit">Ongoing Projects</h2>
    <ul class="flex md:justify-between gap-2 md:gap-6 lg:gap-9">
      <li class="text-sm text-half-black">Remaining</li>
      <li
        class="text-sm text-ha-blue relative after:absolute after:-bottom-1 after:right-1/2 after:transform after:translate-x-1/2 after:bg-ha-blue after:h-[5px] after:w-7 after:rounded-2xl"
      >
        Ongoing
      </li>
      <li class="text-sm text-half-black">Completed</li>
    </ul>
  </div>
  <!--  -->

  <section class="w-full min-h-fit lg:h-[307px] py-6 lg:py-3">
    <div
      class="flex flex-col justify-start md:flex-col lg:flex-row md:justify-center items-center lg:items-end lg:justify-start lg:gap-0 gap-6"
    >
      <div class="flex flex-col gap-7 w-1/2">
        <div>
          <div
            class="w-48 md:w-[238px] h-[54px] text-white flex justify-start items-centre"
          >
            <div class="bg-main-blue h-inherit w-2"></div>
            <div
              class="h-full w-full pl-3 flex flex-col justify-center bg-gradient-to-r from-[#41a9fa] to-[#94d2ff]"
            >
              <p class="text-xl font-medium">App Design</p>
              <span class="text-[10px]">17 August, 2021</span>
            </div>
          </div>
        </div>

        <div class="ml-6">
          <div
            class="w-48 md:w-[238px] h-[54px] text-white flex justify-start items-centre"
          >
            <div class="bg-[#FF4955] h-inherit w-2"></div>
            <div
              class="h-full w-full pl-3 flex flex-col justify-center bg-gradient-to-r from-[#FF6C75] to-[#FF9074]"
            >
              <p class="text-xl font-medium">App Design</p>
              <span class="text-[10px]">17 August, 2021</span>
            </div>
          </div>
        </div>

        <div>
          <div
            class="w-48 md:w-[238px] h-[54px] text-white flex justify-start items-centre"
          >
            <div class="bg-[#D25720] h-inherit w-2"></div>
            <div
              class="h-full w-full pl-3 flex flex-col justify-center bg-gradient-to-r from-[#FF8C56] to-[#FFB215]"
            >
              <p class="text-xl font-medium">App Design</p>
              <span class="text-[10px]">17 August, 2021</span>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="w-1/2 flex flex-col items-center lg:justify-end gap-9">
        <div class="w-32 border rounded-3xl p-1 flex justify-around">
          <img src="../../../assets/images/purple-avatar.png" alt="avatar" />
          <img src="../../../assets/images/green-avatar.png" alt="avatar" />
          <img src="../../../assets/images/orange-avatar.png" alt="avatar" />
        </div>

        <div>
          <div
            class="w-44 md:w-52 h-12 bg-black rounded-3xl text-white flex items-center pr-2"
          >
            <div
              class="w-4/5 h-full rounded-3xl bg-gradient-to-r from-[#508eff] to-[#cb70ea] py-6 px-[17px]"
            >
              <div
                class="line w-full h-1 relative after:w-4 after:h-4 after:bg-white after:rounded-3xl after:blur-[1px] after:absolute after:-right-1 after:top-0 after:transform after:-translate-y-1/2 after:z-10"
              ></div>
            </div>
            <span class="w-1/5 ml-1 text-base">80%</span>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div
      class="mt-20 lg:mt-10 flex justify-center md:justify-start items-center gap-5"
    >
      <div class="flex items-center gap-2">
        <div class="w-7 h-1 bg-main-blue rounded-sm"></div>
        <p class="text-half-black text-base">Todo</p>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-7 h-1 bg-[#FF4955] rounded-sm"></div>
        <p class="text-half-black text-base">In Progress</p>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-7 h-1 bg-[#D25720] rounded-sm"></div>
        <p class="text-half-black text-base">Completed</p>
      </div>
    </div>
  </section>
</div>
